
<div class="continer pt-5 ">
    <div class="row pl-5 pb-4">
        <div class="col-12" id="cityrow">
            <strong>Ankara Hava Durumu</strong>
        </div>
    </div>








    <div class="row pl-5 pr-5">



        <div class="  rectangle col-xl-2 col-lg-2 col-md-2 col-sm-2 col-8 pt-3 text-center mx-auto " id="day"> <strong>
                <h5>Pzt14</h5>
            </strong>
            <div class="row mt-3 bg-#153652" id="dayimage"><img src="/assets/tvitter.png" class="mx-auto" alt=""
                    width="70px" height="60px"></div>
            <div class="row mt-3">
                <p class="mx-auto h3" id="daydegree">20°/20</p>
            </div>
            <div class="row mt-3 ">
                <p class="mx-auto" id="daystate">Parçalı bulutlu</p>
            </div>
        </div>

        <div class="  rectangle col-xl-2 col-lg-2 col-md-2 col-sm-2 col-8 pt-3  text-center mx-auto " id="day"> <strong>
                <h5>Pzt14</h5>
            </strong>
            <div class="row mt-3 bg-#153652" id="dayimage"><img src="/assets/tvitter.png" class="mx-auto" alt=""
                    width="70px" height="60px"></div>
            <div class="row mt-3">
                <p class="mx-auto h3" id="daydegree">20°/20</p>
            </div>
            <div class="row mt-3 ">
                <p class="mx-auto" id="daystate">Güneşli</p>
            </div>
        </div>

        <div class="  rectangle col-xl-2 col-lg-2 col-md-2 col-sm-2 col-8 pt-3 text-center mx-auto  " id="day"> <strong>
                <h5>Pzt14</h5>
            </strong>
            <div class="row mt-3 bg-#153652" id="dayimage"><img src="/assets/tvitter.png" class="mx-auto" alt=""
                    width="70px" height="60px"></div>
            <div class="row mt-3">
                <p class="mx-auto h3" id="daydegree">20°/20</p>
            </div>
            <div class="row mt-3 ">
                <p class="mx-auto" id="daystate">Güneşli</p>
            </div>
        </div>

        <div class=" rectangle col-xl-2 col-lg-2 col-md-2 col-sm-2 col-8 pt-3 text-center mx-auto " id="day"> <strong>
                <h5>Pzt14</h5>
            </strong>
            <div class="row mt-3 bg-#153652" id="dayimage"><img src="/assets/tvitter.png" class="mx-auto" alt=""
                    width="70px" height="60px"></div>
            <div class="row mt-3">
                <p class="mx-auto h3" id="daydegree">20°/20</p>
            </div>
            <div class="row mt-3 ">
                <p class="mx-auto" id="daystate">Güneşli</p>
            </div>
        </div>

        <div class=" rectangle col-xl-2 col-lg-2 col-md-2 col-sm-2 col-8 pt-3 text-center mx-auto " id="day"> <strong>
                <h5>Pzt14</h5>
            </strong>
            <div class="row mt-3 bg-#153652" id="dayimage"><img src="/assets/tvitter.png" class="mx-auto" alt=""
                    width="70px" height="60px"></div>
            <div class="row mt-3">
                <p class="mx-auto h3" id="daydegree">20°/20</p>
            </div>
            <div class="row mt-3 ">
                <p class="mx-auto" id="daystate">Güneşli</p>
            </div>
        </div>
    </div>













    <div class="row pt-1 pl-5 pr-5">
        <div class="rectangle2 col-xl-4 col-lg-4 col-md-3 col-sm-12 col-12 mt-4  text-center mx-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-left " id="info"> <img src="/assets/warning.png" alt="image"
                        width="50px" height="40px"><strong>DİKKAT</strong>
                    <P> <br> Ankara'da KASIM ayı en yüksek sıcaklık ortalaması 13 derece, ortalama yağışlı gün sayısı
                        ise 7</P>
                </li>
                <li class="list-group-item text-left" id="info">Lodosla sıcaklık artıyor, ayaz hafifledi</li>
                <li class="list-group-item text-left" id="info">Cumartesi lodos sert</li>
                <li class="list-group-item text-left" id="info">Sıcaklık ortalamanın 7 derece üzerine çıkacak</li>

            </ul>
        </div>

        <div class="rectangle2 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt-4  text-center mx-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-left" id="info"> <img src="/assets/warning2.png" alt="image"
                        width="50px" height="40px"><strong>GENEL UYARILAR</strong>
                    <P> <br>Ülkede lodosla gelen hafif yağmurlar görülüyor </P>
                </li>
                <li class="list-group-item text-left" id="infoyellow">Lodos Çanakkale, Ayvalık, Çeşme boyunca şiddetli
                </li>
                <li class="list-group-item text-left" id="info">Sıcaklıklar hafta sonu ortalamanın 7-8 derece üstünde
                </li>
                <li class="list-group-item text-left" id="info">Batıda 25 dereceye çıkacak</li>
                <li class="list-group-item text-left" id="info">Batıda çöl tozları artıyor</li>

            </ul>
        </div>

        <div class="rectangle2 col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 mt-4 text-center mx-auto">
            <div class="row">
                <div id="scroll">
                    <div class="col-12">
                        <ul class="list-group list-group-flush ">



                            <!-- burayı for a al yap -->

                            <li class="list-group-item text-left" id="info">
                                <img src="/assets/tvitter2.png" alt="image" width="50px" height="40px">
                                <strong>TWITTER</strong> <br> <br><strong class="text-dark"><a href="https://twitter.com/ntvhava" id="link">@ntvhava kullanıcı Tweetleri</a> </strong>
                            </li>

                            <li class="list-group-item text-left" id="info">
                                <img id="radius" src="/assets/ntv.jpeg" alt="">
                                <p class="pl-5 text-dark" id="twithead">NTV Hava <img src="/assets/nikeicon.jpg"
                                        width="20px" height="15px" alt=""></p>
                                
                                <p class="text-dark" id="twit">Yarın Çorum, Kırşehir, Kırıkkale, Yozgat, Sivas'ta da
                                    yağmur ŞİDDETLİ! <a href="https://twitter.com/ntvhava">@ntvhava </a><a
                                        href="https://twitter.com/ntvhava">@ntvhava.com</a></p>
                            </li>
                            <li class="list-group-item text-left" id="info">
                                <img id="radius" src="/assets/ntv.jpeg" alt="">
                                <p class="pl-5 text-dark" id="twithead">NTV Hava <img src="/assets/nikeicon.jpg"
                                        width="20px" height="15px" alt=""></p>
                                
                                <p class="text-dark" id="twit">Yarın Düzce, Zonguldak, Karabük, Kastamonu, Çorum,
                                    Sinop'ta SEL RİSKİ var! <a href="https://twitter.com/ntvhava">@ntvhava </a><a
                                        href="https://twitter.com/ntvhava">@ntvhava.com</a></p>
                            </li>
                            <li class="list-group-item text-left" id="info">
                                <img id="radius" src="/assets/ntv.jpeg" alt="">
                                <p class="pl-5 text-dark" id="twithead">NTV Hava <img src="/assets/nikeicon.jpg"
                                        width="20px" height="15px" alt=""></p>
                                
                                <p class="text-dark" id="twit">Çarşamba Anadolu'da pek çok kentte kar var. Sürücüler
                                    dikkat! <a href="https://twitter.com/ntvhava">@ntvhava </a><a
                                        href="https://twitter.com/ntvhava">@ntvhava.com</a></p>
                            </li>
                            <li class="list-group-item text-left" id="info">
                                <img id="radius" src="/assets/ntv.jpeg" alt="">
                                <p class="pl-5 text-dark" id="twithead">NTV Hava <img src="/assets/nikeicon.jpg"
                                        width="20px" height="15px" alt=""></p>
                                
                                <p class="text-dark" id="twit">Mart ayı ülkede soğuk ve kar yağışlı başlayacak <a
                                        href="https://twitter.com/ntvhava">@ntvhava </a><a
                                        href="https://twitter.com/ntvhava">@ntvhava.com</a></p>
                            </li>
                            <li class="list-group-item text-left" id="info">
                                <img id="radius" src="/assets/ntv.jpeg" alt="">
                                <p class="pl-5 text-dark" id="twithead">NTV Hava <img src="/assets/nikeicon.jpg"
                                        width="20px" height="15px" alt=""></p>
                                
                                <p class="text-dark" id="twit">Çarşamba akşamı Edirne'de, perşembe Anadolu'da kar
                                    başlıyor! <a href="https://twitter.com/ntvhava">@ntvhava </a><a
                                        href="https://twitter.com/ntvhava">@ntvhava.com</a></p>
                            </li>
                            <li class="list-group-item text-left" id="info">
                                <img id="radius" src="/assets/ntv.jpeg" alt="">
                                <p class="pl-5 text-dark" id="twithead">NTV Hava <img src="/assets/nikeicon.jpg"
                                        width="20px" height="15px" alt=""></p>
                                
                                <p class="text-dark" id="twit">İstanbul'da yarın gündüz yağış yok, akşam hafif ve orta
                                    kuvvetli yağacak. <a href="https://twitter.com/ntvhava">@ntvhava </a><a
                                        href="https://twitter.com/ntvhava">@ntvhava.com</a></p>
                            </li>
                            <li class="list-group-item text-left" id="info">
                                <img id="radius" src="/assets/ntv.jpeg" alt="">
                                <p class="pl-5 text-dark" id="twithead">NTV Hava <img src="/assets/nikeicon.jpg"
                                        width="20px" height="15px" alt=""></p>
                                
                                <p class="text-dark" id="twit">Yarın Çanakkale ve Kuzey Ege'de poyraz şiddetli, yer yer
                                    fırtına hızında <a href="https://twitter.com/ntvhava">@ntvhava </a><a
                                        href="https://twitter.com/ntvhava">@ntvhava.com</a></p>
                            </li>







                        </ul>
                    </div>
                </div>
            </div>






        </div>


    </div>
</div>