
<div class="container-fluid pt-5 pr-0">
    
    
    <div class="row pl-5 pr-5 pt-3" id="pagebottom">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6"><img src="/assets/ntv2.png" alt=""></div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pt-3 text-right text-light "><p id="tbs">Duran Erdemir ©2022 | Tüm Hakları Saklıdır.</p></div>
    </div>
    
    <div class="row pl-3 pr-3 pt-3" id="pagebottom2">
    
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
            <ul>
                <li class="mb-2" id="pageA"> <strong> KURUMSAL</strong></li>
                <li> <a href="https://www.dogusyayingrubu.com.tr/" target="_blank" id="pageA">Doğuş Yayın Grubu</a> </li>
                <li> <a href="https://www.ntvhava.com/kurumsal/izinli-veri" target="_blank" id="pageA">Kullanım Koşulları</a> </li>
                <li> <a href="https://www.ntvhava.com/kurumsal/gizlilik" target="_blank" id="pageA">Gİzlilik Politikası</a> </li>
                <li> <a href="https://www.ntvhava.com/kurumsal/cerez-politikasi" target="_blank" id="pageA">Çerez Politikası</a> </li>
                <li> <a href="https://www.ntvhava.com/kurumsal/iletisim" target="_blank" id="pageA">Reklam</a> </li>
                <li> <a href="https://www.ntvhava.com/kurumsal/iletisim" target="_blank" id="pageA">İletişim</a> </li>
                <li> <a href="https://ik.dogusyayingrubu.com/" target="_blank" id="pageA" >İnsan Kaynakları</a> </li>
                
            </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
            <ul>
                <li class="mb-2" id="pageA"> <strong> DYG TELEVİZYONLAR</strong></li>
                <li> <a href="https://www.ntv.com.tr/" target="_blank" id="pageA">NTV</a> </li>
                <li> <a href="https://www.startv.com.tr/" target="_blank" id="pageA">STAR</a> </li>
                <li> <a href="https://www.eurostartv.com.tr/" target="_blank" id="pageA">EURO STAR</a> </li>
                <li> <a href="https://www.kralmuzik.com.tr/tv/kral-tv" target="_blank" id="pageA">KRAL TV</a> </li>
                <li> <a href="https://www.kralmuzik.com.tr/tv/kral-pop-tv" target="_blank" id="pageA">KRAL POP TV</a> </li>
                
                
            </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
            <ul>
                <li class="mb-2" id="pageA"> <strong> DYG RADYOLAR</strong></li>
                <li> <a href="https://www.ntvradyo.com.tr/" target="_blank" id="pageA">NTV RADYO</a> </li>
                <li> <a href="https://www.kralmuzik.com.tr/radyo/kral-fm" target="_blank" id="pageA">KRAL FM</a> </li>
                <li> <a href="https://www.kralmuzik.com.tr/radyo/kral-pop" target="_blank" id="pageA">KRAL POP</a> </li>
                <li> <a href="https://radioeksen.com/" target="_blank" id="pageA">EKSEN</a> </li>
                <li> <a href="https://radyovoyage.com/" target="_blank" id="pageA">VOYAGE</a> </li>
                
                
            </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6">
            <ul>
                <li class="mb-2" id="pageA"> <strong> DYG DİJİTAL </strong></li>
                <li> <a href="https://www.ntv.com.tr/" target="_blank" id="pageA">ntv.com.tr</a> </li>
                <li> <a href="https://www.ntvspor.net/" target="_blank" id="pageA">ntvspor.net</a> </li>
                <li> <a href="https://www.ntvhava.com/" target="_blank" id="pageA">ntvhava.com</a> </li>
                <li> <a href="https://www.startv.com.tr/" target="_blank" id="pageA">startv.com.tr</a> </li>
                <li> <a href="https://www.kralmuzik.com.tr/ " target="_blank" id="pageA">kralmuzik.com.tr</a> </li>
                <li> <a href="https://puhutv.com/" target="_blank" id="pageA">puhutv.com</a> </li>
                
                
            </ul>
        </div>
    </div>
    <div class="row pl-5 pr-5 pt-3" id="pagebottom3">
    <div class="col-xl-6 col-lg-6 col-md-3 col-sm-3 col-6">
       <a href="https://twitter.com/ntvhava"><img src="/assets/tvitter3.png" alt="" width="40px" height="30px"></a> 
       <a href="https://www.facebook.com/NtvHava/"><img src="/assets/facebook2.png" alt="" width="40px" height="30px"></a> 
        
    </div>
    <div class="col-xl-6 col-lg-6 col-md-9 col-sm-9 col-6 text-right mb-3">
       <a href="https://play.google.com/store/apps/details?id=com.basarimobile.android.ntvhava&hl=tr&pli=1"><img class="" src="/assets/playstore.png" alt="" width="150px" height="40px"></a> 
       <a href="https://apps.apple.com/tr/app/ntv-hava/id505484333?l=tr"><img src="/assets/appstore.png" alt="" width="150px" height="40px"></a> 
        
    </div>
    </div>
</div>