<div class="container col-12 pt-2 pr-0" id="container1">
    <div class="row pb-4">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-7 d-flex justify-content-start pr-4">
            <h3><STRong class="text-white"> NTV ► HAVA</STRong></h3>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-8 col-5 d-flex justify-content-end pt-1 pr-5">
            <a href="https://twitter.com/ntvhava" target="_blank" ><img id="im2" src="/assets/a2.png" alt="image" width="40px" height="45px"></a> 
               <a href="https://www.facebook.com/NtvHava/"  target="_blank"><img id="im1" src="/assets/a.png" alt="" width="40px" height="45px"></a> 
            </div>
    </div>
                  
    <div class="row " id="row2" >
        <div class=" col-xl-8 col-lg-8 col-md-10 col-sm-12 col-12 mx-auto ">
            
            <div class="dropdown show ">
                <a class="btn btn-secondary  dropdown-toggle pt-2" 
                 href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lütfen Şehir Seçiniz
                </a>
              
                <div id="dropdownMenuLink2" class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" routerLink="/adana-hava-durumu">Adana</a>
                  <a class="dropdown-item" routerLink="/afyon-hava-durumu">Afyonkarahisar</a>
                  <a class="dropdown-item" routerLink="/agri-hava-durumu">Ağrı</a>
                  <a class="dropdown-item" routerLink="/amasya-hava-durumu">Amasya</a>
                  <a class="dropdown-item" routerLink="/ankara-hava-durumu">Ankara</a>
                  <a class="dropdown-item" routerLink="/antalya-hava-durumu">Antalya</a>
                  <a class="dropdown-item" routerLink="/artvin-hava-durumu">Artvin</a>
                  <a class="dropdown-item" routerLink="/aydin-hava-durumu">Aydın</a>
                    <a class="dropdown-item" routerLink="/balikesir-hava-durumu">Balıkesir</a>
                    <a class="dropdown-item" routerLink="/bilecik-hava-durumu">Bilecik</a>
                    <a class="dropdown-item" routerLink="/bolu-hava-durumu">Bolu</a>
                    <a class="dropdown-item" routerLink="/bursa-hava-durumu">Bursa</a>
                    <a class="dropdown-item" routerLink="/canakkale-hava-durumu">Çanakkale</a>
                    <a class="dropdown-item" routerLink="/corum-hava-durumu">Çorum</a>
                    <a class="dropdown-item" routerLink="/denizli-hava-durumu">Denizli</a>
                    <a class="dropdown-item" routerLink="/diyarbakir-hava-durumu">Diyarbakır</a>
                    <a class="dropdown-item" routerLink="/edirne-hava-durumu">Edirne</a>
                    <a class="dropdown-item" routerLink="/elazig-hava-durumu">Elazığ</a>
                    <a class="dropdown-item" routerLink="/erzurum-hava-durumu">Erzurum</a>
                    <a class="dropdown-item" routerLink="/eskisehir-hava-durumu">Eskişehir</a>
                    <a class="dropdown-item" routerLink="/gaziantep-hava-durumu">Gaziantep</a>
                    <a class="dropdown-item" routerLink="/giresun-hava-durumu">Giresun</a>
                  


                    

                </div>
               
              </div>
            
        </div>
    </div>

    <div class="row pt-4 ">
        <div class="col-12 d-flex justify-content-center">
            <div><img src="/assets/tvitter.png" alt="" width="140px" height="90px"></div>
        </div>
    </div>


    <div class="row pt-2">
        <div class="col-12 d-flex justify-content-center">
            <div class="text-white "><strong style="font-size: 6vw;">İstanbul</strong> </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-12 d-flex justify-content-center">
            <div class="text-white "><strong style="font-size: 4vw;">20°/</strong> <strong
                    style="font-size: 3vw;">20°</strong>
            </div>
        </div>
    </div>

    <div class="row pb-4">
        <div class="col-12 d-flex justify-content-center">
            <div class="text-white">
                <h5 style="font-size: 2vw;">Güneşli</h5>
            </div>
        </div>
    </div>

</div>